*,
*:after,
*:before {
    box-sizing: border-box;
}

html {
    font-family: Lobster, sans-serif;
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
}

input {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

#root {
    height: 100%;
}

.app {
    display: flex;
    background: url("https://source.unsplash.com/collection/nature/1600x900");
    background-size: cover;
    height: 100%;
}

.app__create-btn {
    height: fit-content;
    margin: 10px;
    padding: 15px;
    border: none;
    border-radius: 8px;
    background-color: #de8b7c;
    color: #fff;
    cursor: pointer;
    box-shadow: 0 4px 10px #000;
    font-weight: 600;

    transition: background-color .2s ease-in-out;
}


.app__create-btn:hover {
    background-color: #dca094;
}

.app__columns {
    display: flex;
}

.column {
    flex-shrink: 0;
    margin: 10px;
    padding: 10px;
    width: 250px;
    height: fit-content;

    border-radius: 4px;
    border: 1px solid #ebecf0;
    background-color: #ebecf0;
}

.column__title {
    width: 100%;

    margin-bottom: 5px;
    padding: 5px;
    border: none;
    border-radius: 4px;

    font-size: 18px;
    font-weight: 600;
    text-align: left;
    word-wrap: break-word;

    cursor: text;
    outline: none;
}

.column__title:focus {
    background-color: #fff;
}

.column__button {
    width: 100%;

    padding: 10px;
    margin-top: 5px;

    border: none;
    border-radius: 4px;
    cursor: pointer;

    text-align: left;
    font-size: 15px;

    background-color: transparent;

    transition: background-color .2s linear;
}

.column__button:hover {
    background-color: #ccc;
}

.cards__card {
    padding: 10px;

    border-radius: 4px;
    background-color: #fff;

    text-align: center;
    cursor: pointer;
    word-wrap: break-word;

    box-shadow: 0 1px 0 #ccc;
    transition: background-color .2s ease-in-out;
}

.cards__card:hover {
    background-color: #ccc;
}

.cards__card + .cards__card {
    margin-top: 5px;
}

.card__input {
    border: 1px solid #ccc;
}

.column__form {
    display: flex;
}